.layout-basic {
  display: flex;
  height: 100%;

  // 右侧组件布局
  .layout-basic-children {
    flex: 1; // 占比
  }
}

.BasBox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.SecBox {
  flex: 1;
  overflow: hidden;
}

